@import "tailwindcss";

@theme {
  --color-snake-black: #121212;
  --color-snake-gray: #1E1E1E;
  --color-earth-green: #4A5D23;
  --color-dirt-brown: #8C6239;
  --color-slate-accent: #64748B;
  --color-pop-orange: #D97706;

  --font-sans: "Inter", sans-serif;
  --font-display: "Oswald", sans-serif;
}

/* Custom Scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}